
.password-page{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
  height: 100vh;
}

.password__form{
  display: flex;
  align-items: center;
  justify-content: center;
  flex-direction: column;
}

.password__input input {
  border:1px solid black;
  min-width: 300px;
  font-size: 22px;
  line-height: 1em;
  padding: .5em .5em;
  width: calc(100% - 1em);
  margin: 0;
}
.password__input .validation {
  position: absolute;
  color: rgb(240, 0, 0);
  text-align: right;
  bottom: 0;
  right: 0;
  transform: translateY(1.2em);
}

.password__input{
  position: relative;
  display: flex;
  flex-direction: column;
  margin: 1em 0 ;
}

.password__form button {
  border: 1px solid black;
  background-color: unset;
  border-radius: unset;
  font-size: 22px;
  line-height: 1em;
  padding: .5em;
  width:100%;
  margin: 1em 0;
}

.password__form button, .password__input input{
  transition: all 0.50s ease-in-out;
  outline: none;
}

  .password__form button:focus, .password__input input:focus, .password__form button:hover{
  box-shadow: 0 0 5px rgba(81, 203, 238, 1);
  border: 1px solid rgba(81, 203, 238, 1);
}

.password__form button:hover{
  box-shadow: 0 0 5px rgb(81, 144, 238);
  border: 1px solid rgb(81, 144, 238) ;
}

.password__welcome{
  width: var(--width);
  min-width: var(--min-width);
  text-align: center;
}