*, *::before, *::after {
  box-sizing: border-box;
  margin: 0;
  --width: 80vw;
  --max-width: 800px;
  --min-width: 375px;
  font-family: 'Quicksand', sans-serif;
}

#page-wrapper{
  overflow-x: hidden;
}

h1 {
  font-weight: 100;
  font-size: 3.5em;
}


h2{
  margin-bottom:1em;
}
h2.empty {
  height:1.3em;
}

p{
  font-size: 1.2rem;
  font-weight: 100;
  margin-bottom: 1em;
}

img {
  width: 100%;
}

.rounded {
  border-radius: 1em;
}

.margin-top-25{
  margin-top:50px;
}

.content-wrapper{
  /* background-color: #F8FAFB; */
  display:flex;
  justify-content: center;
  position: relative;
  overflow-y: visible;
  z-index: 0;
}




.content-wrapper > section:first-of-type{
  width: var(--width);
  max-width: var(--max-width);
  min-width: var(--min-width);
}


@import './views/_password_page.css';
@import './views/_pages.css';

@import './components/header/style.css';
@import './components/details_card/style.css';
@import './components/header/style.css';
@import './components/nav-bar/style.css';
@import './components/footer_card/style.css';
@import './components/nav_hamburger/style.css';
@import './components/announce_card/style.css';
@import './components/welcome_card/style.css';
@import './components/countdown_card/style.css';