*, *::before, *::after {
  margin: 0;
  --website-width: 60vw;
  --website-max-width: 800px;
  --website-min-width: 500px;
}




@import './components/header/style.css';
@import './components/nav-bar/style.css'